.flow-container {
    position: relative;

    width: 100vw;
    height: 100vh;

    background: #585555;

    overflow: hidden;
    /* isolation: isolate;  */
}

.node {
    cursor: grab;

    user-select: none;
    position: absolute;

    min-width: 220px;

    background: white;

    padding: 20px;

    border-radius: 12px;

    display: flex;

    flex-direction: column;

    gap: 12px;
    z-index: 1;
    border: 1px solid rebeccapurple;
}

.node:active {
    cursor: grabbing;
}

.actions,
.action {
    position: relative;
}

.actions {
    display: flex;

    /* flex-direction: column; */

    gap: 8px;
    /* z-index: 5; */
}

.action {
    padding: 8px;

    background: #eee;

    border-radius: 8px;
    /* z-index: 5; */
}

.edge-layer {
    position: absolute;

    width: 100%;
    height: 100%;

    pointer-events: none;
    /* pointer-events: auto;  */

    z-index: 2;
}

.edge-add-btn {
    width: 70px;

    height: 34px;

    border: none;

    border-radius: 20px;

    background: #6a40ff;

    color: white;

    cursor: pointer;

    font-size: 13px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
}

.edge-add-btn:hover {
    /* ! transform scale was creating the issue of fliker */
    /* transform: scale(1.05); */
    /* background: #7c52ff; */
    /* color shift instead of size shift */
    background: #211f25;
    /* color shift instead of size shift */


}
.node {
  position: absolute;
}

.connection-point {
  position: absolute;

  width: 12px;

  height: 12px;

  background: #1976d2;

  border-radius: 50%;

  cursor: crosshair;

  opacity: 0;

  transition: 0.15s;
}

.node:hover .connection-point,
.action:hover .connection-point {
  opacity: 1;
}

.connection-point:hover {
  transform: scale(1.4);
}

.handle-top {
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
}

.handle-right {
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
}

.handle-bottom {
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
}

.handle-left {
  left: -6px;
  top: 50%;
  transform: translateY(-50%);
}

.action-point {
  position: absolute;

  right: -16px;

  top: 50%;

  transform: translateY(-50%);

  opacity: 1;
}
.connection-point {
  z-index: 20;
}

.node {
  overflow: visible;
}