.flow-container {
    position: relative;

    width: 100vw;
    height: 100vh;

    background: #585555;

    overflow: hidden;
    /* isolation: isolate;  */
}

.node {
    position: absolute;

    min-width: 220px;

    background: white;

    padding: 20px;

    border-radius: 12px;

    display: flex;

    flex-direction: column;

    gap: 12px;
    z-index: 1;
    border: 1px solid rebeccapurple;
}

.actions,
.action {
    position: relative;
}

.actions {
    display: flex;

    /* flex-direction: column; */

    gap: 8px;
    /* z-index: 5; */
}

.action {
    padding: 8px;

    background: #eee;

    border-radius: 8px;
    /* z-index: 5; */
}

.edge-layer {
    position: absolute;

    width: 100%;
    height: 100%;

    pointer-events: none;
    z-index: 2;
}